<div class="settings">
  <div class="top-links">
  </div>

  <div class="buttom-link">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-block" %>
  </div>
</div>
